@media (max-width:1200px) {
    .promo {
        &__header {
            font-size: 38px;
            line-height: 38px;
        }

        &__subheader {
            font-size: 22px;
            line-height: 22px;
        }

    }
}

@media (max-width:991px) {
    .container {
        max-width: 720px;
    }

    .promo {
        min-height: 500px;

        &__header {
            font-size: 33px;
            line-height: 33px;
        }

        &__subheader {
            font-size: 19px;
            line-height: 19px;
            margin-top: 10px;
        }

        &__icons {
            width: 390px;
        }

    }

    .advantages {
        &__description {
            width: 190px;
        }
    }

    .consultation {
        min-height: 500px;
        padding: 50px 0 45px 0;

        .title_left {
            width: 670px;
            font-size: 30px;
            line-height: 45px;
        }
    }
}

@media (max-width:767px) {
    .container {
        max-width: 540px;
    }

    .promo {
        min-height: 500px;

        .header {
            &__official {
                display: none;
            }

            &__phone {
                font-size: 16px;
            }
        }

        &__wrapper {
            align-items: center;
        }
    }

    .advantages {
        padding-top: 50px;

        &__icons {
            margin-top: 50px;
            flex-direction: column;
        }

        &__icon {
            margin-top: 20px;

            img {
                height: 100px;
            }
        }

        &__header {
            font-size: 25px;
        }

        &__description {
            display: block;
            margin: 25px auto 0 auto;
            width: 300px;
            font-size: 19px;
            line-height: 20px;
        }
    }

    .consultation {

        .title_left {
            width: 555px;
            font-size: 30px;
            line-height: 45px;
            text-align: center;
        }

        &__descr {
            margin: 20px auto 0 auto;
            width: 400px;
            text-align: center;
        }

        .feed-form {
            margin: 36px auto 0 auto;
        }

    }

}

@media (max-width:575px) {
    .container {
        max-width: 410px;
    }

    .promo {
        padding-bottom: 70px;

        .header {

            &__logo {
                img {
                    width: 90%;
                }
            }

            &__phone {
                font-size: 14px;
            }

            &__contacts {
                .button {
                    font-size: 12px;
                    width: 100%;
                }
            }
        }

        &__header {
            font-size: 29px;
            line-height: 29px;
        }

        &__subheader {
            font-size: 17px;
            line-height: 17px;
        }
    }

    .advantages {

        &__icons {
            margin-top: 30px;
        }

        &__icon {
            margin-top: 30px;

            img {
                height: 70px;
            }
        }

        &__description {
            font-size: 18px;
            line-height: 18px;
            width: 360px;
        }

        &__header {
            margin-top: 20px;
            font-size: 25px;
        }
    }

    .consultation {

        .title_left {
            width: 400px;
            font-size: 25px;
            line-height: 35px;
        }

        &__descr {
            width: 300px;
        }

    }

}

@media (max-width:424px) {
    .container {
        max-width: 365px;
    }

    .promo {

        .header {

            &__phone {
                font-size: 13px;
            }

            &__logo {
                width: 230px
            }

            .button {
                margin-top: 7px;
                font-size: 10px;
                height: 28px;
            }
        }

        &__header {
            font-size: 26px;
            line-height: 26px;
        }

        &__subheader {
            font-size: 15px;
            line-height: 15px;
        }

        &__icons {
            width: 320px;
        }

        &__icon {
            width: 96px;
            font-size: 12px;
        }
    }

    .advantages {

        &__title {
            font-size: 25px;
            line-height: 25px;
        }

        &__icons {
            margin-top: 50px;
            flex-direction: column;
        }

        &__icon {
            margin-top: 20px;

            img {
                height: 50px;
            }
        }


        &__description {

            width: 320px;
            font-size: 17px;
            line-height: 18px;
        }
    }

    .consultation {

        .title_left {
            width: 350px;
            font-size: 25px;
            line-height: 30px;
        }

        &__descr {
            font-size: 20px;
            width: 250px;
        }
    }

}

@media (max-width:374px) {
    .container {
        max-width: 305px;
    }

    .promo {
        padding-bottom: 70px;

        .header {

            &__logo {
                width: 190px;

                img {
                    width: 90%;
                }
            }

            &__phone {
                font-size: 12px;
            }

            &__contacts {
                .button {
                    font-size: 10px;
                }
            }
        }

        &__header {
            font-size: 23px;
            line-height: 23px;
        }

        &__subheader {
            font-size: 13px;
            line-height: 13px;
        }

        &__icons {
            width: 300px;
        }

        &__icon {
            width: 86px;
            font-size: 12px;
        }

        .button_main {
            width: 250px;
        }
    }

    .consultation {

        .title_left {
            width: 300px;
            font-size: 22px;
            line-height: 27px;
        }

        &__descr {
            font-size: 15px;
            line-height: 20px;
            width: 280px;
        }

        .feed-form {
            width: 280px;
        }
    }
}